{%- if product.available == false and settings.prod_sold_out_show -%}
  <span class="productlabel soldout"><span>{{ 'products.labels.sold_out' | t }}</span></span>
{%- else -%}
  {%- if settings.prod_stock_warn_show and settings.prod_stock_warn_limit_int == 0 and product.variants.size == 1 and product.variants.first.inventory_management == 'shopify' and product.variants.first.inventory_quantity > 0 -%}
    <span class="productlabel general"><span>{{ 'products.labels.only_x_left' | t: quantity: product.variants.first.inventory_quantity }}</span></span>
  {%- elsif settings.prod_sale_show and product.compare_at_price > product.price -%}
    <span class="productlabel sale"><span>{{ 'products.labels.sale' | t }}</span></span>
  {%- elsif settings.prod_stock_warn_show and product.variants.size == 1 and product.variants.first.inventory_management == 'shopify' and product.variants.first.inventory_quantity > 0 and product.variants.first.inventory_quantity <= settings.prod_stock_warn_limit_int -%}
    <span class="productlabel general"><span>{{ 'products.labels.only_x_left' | t: quantity: product.variants.first.inventory_quantity }}</span></span>
  {%- endif -%}
{%- endif -%}
