<div class="page-header">
    <h1 class="majortitle">{{ 'general.404.title' | t }}</h1>
</div>
<div class="spaced-row align-centre">
    <p>{{ 'general.404.subtext_html' | t: root_url: routes.root_url, search_url: routes.search_url }}</p>
</div>{% include 'wiser_recentview' %}{% include 'wiser_trending' %}{% include 'wiser_topselling' %}{% include 'wiser_newarrivals' %}{% include 'wiser_featured' %}{% include 'wiser_recent_related' %}